"babel": {
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ]
},
"ava": {
  "require": [
    "babel-register"
  ],
  "babel": "inherit"
}
